.git/
.claude/
**/.venv/
**/__pycache__/
**/*.egg-info/
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/tests/
**/k8s/
**/*.md
**/mypy.ini
**/ruff.toml
**/.pre-commit-config.yaml
**/environment.yml
**/.dockerignore
**/uv.lock
